int64 as JSON number marshal option

**What language does this apply to?**
All supported protobuf languages. This would be in the protobuf JSON marshaling support for each language.

**Describe the problem you are trying to solve.**
The [JSON Mapping](https://developers.google.com/protocol-buffers/docs/proto3#json) for `int64`, `fixed64`, `uint64` maps to a JSON string, presumably since per [RFC 8259 §6](https://tools.ietf.org/html/rfc8259#section-6), there's not a guarantee beyond `2^53` that the implementation will treat a number as an integer. [YAML](https://yaml.org/spec/1.2/spec.html) is a strict superset of JSON, but has a specific behavior that it treats JSON strings with numbers in them as strings. Thus, when interpreted by a YAML parser, the output of the protobuf JSON marshaling yields the incorrect type.

**Describe the solution you'd like**
The JSON standard does not itself restrict the range or precision of numbers, but allows implementations to set limits. I suggest adding a new [JSON Option](https://developers.google.com/protocol-buffers/docs/proto3#json_options) that would "Emit int64 values as integers instead of strings". This could then be used by destined-for-YAML-parser marshalers to have integer type fidelity.

**Describe alternatives you've considered**
* Post-processing
  * "manual" coercion of the resulting JSON based on known messages.
  * if we walked the message descriptors to process this dynamically, we'd have reimplemented the various language's marshaling code
* A direct-to-YAML marshaller. This might have some benefits, but with this the above small tweak, we can use YAML's existing support
* An option to emit numbers for `2^53` and below, and strings for above. This muddles the output type and makes it harder on any parser to consume the values intelligently.
* An option to inject [`!!int`](https://yaml.org/spec/1.2/spec.html#id2803828) tags to allow YAML parsers to type-coerce the outcome. This has various issues, not the least of which is that it renders it into invalid JSON.

**Additional context**

Spurred by https://github.com/golang/protobuf/issues/1280#issuecomment-783861560.

This happens to occur when using Kubernetes' generated protos, e.g., [core.v1](https://github.com/kubernetes/api/blob/master/core/v1/generated.proto), to configure Kubernetes. These types contain `int64`, but if we render it to JSON, we lose the type information, and they get treated incorrectly as strings. The generated protos are created using [`go-to-protobuf`](https://github.com/kubernetes/code-generator/blob/v0.20.4/cmd/go-to-protobuf/protobuf/generator.go#L454) which maps the `int64` types straight across.


**Additional alternatives considered**

* An option to both _require_ that protobuf `int64` fields fit into `2^53-1,-1*2^53` and to emit them as numbers. This has an unfortunate runtime cliff, since traditional protobuf fillers won't know that they're out of bounds.
* Edits to Kubernetes types to use `Int64String` as described in [`json.Marshal`](https://golang.org/pkg/encoding/json/#Marshal) uniformly and then amend `go-to-protobuf` to balk if it sees bare `int64`. This would bring Kubernetes Go, JSON, and protobuf into agreement, but change the field type of all existing objects, which would break all current use :(.

strongly agree !!!


My current idea is to destroy past agreements, even though it will increase storage costs and reduce query efficiency